.header {
  background: $bgBlack;
}
.container {
  max-width: 1400px;
  padding: 0 rem(15);
  margin: 0 auto;

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 97px;
    align-items: center;
    height: 90px;
    @media (max-width: 600px) {
      height: 50px;
    }
  }

  .nav__logo {
    @media (max-width: 600px) {
      display: none;
    }
  }

  .nav__logo_mobile {
    display: none;
    @media (max-width: 600px) {
      display: block;
    }
  }
  .nav__callOrder {
    .nav__button {
      padding: rem(13) rem(26);
      color: #ff834e;
      border: 1px solid #ff834e;
      font-family: "Source Sans Pro", sans-serif;
      font-size: rem(16);
      line-height: rem(20);
      margin-right: 30px;
    }
    .nav__number {
      font-family: "Source Sans Pro", sans-serif;
      font-size: rem(18);
      line-height: rem(22);
      margin-right: 56px;
    }
    // @media (max-width: rem(1150)) {
    //   position: absolute;
    //   right: 70px;
    // }

    @media (max-width: 490px) {
      display: none;
    }
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    gap: 30px;

    // &-list-item {
    // }

    @media (max-width: 1150px) {
      display: none;
    }
  }
}
