.promo {
  background-image: url('../img/promo-bg.jpg');
  padding: 100px 0;
  
  .container {
      max-width: 1420px;
      padding: 0 15px;
      margin: 0 auto;

  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    font-size: 23px;
    color: #FF834E;
    font-weight: 700;
    margin-left: 31px;
    &::before {
      position: absolute;
      content: '';
      left: -31px;
      top: 4px;
      width: 19px;
      height: 19px;
      background-image: url('../img/cart.png');
    }
  }
  &__title {
    width: 824px;
    font-size: 52px;
    line-height: 69px;
    font-weight: 700;
    margin: 44px 0;
  }
  &__subtitle {
    font-size: 20px;
  }
  &__sup-button {
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__button {
    position: relative;
    display: block;
    align-items: center;
    width: 329px;
    height: 65px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    padding: 21px 164px 21px 20px;
    background: #ff834e;
    margin-bottom: 58px;
    cursor: pointer;
    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 62px;
      height: 65px;
      background-color: #DE774B;
    }
    .arrow {
      position: absolute;
      top: 38%;
      right: 23px;
      width: 17px;
      color: #fff;
      z-index: 1;
    }
  }

  &__img {
    width: 595px;
    height: 768px;
  }
}
